.wrapper {
  padding: 5rem;
  /* padding-bottom: 0; */
  max-width: 70rem;
  margin: auto;
}
.title {
  font-size: 2.5rem;
  text-transform: uppercase;
  position: relative;
  width: max-content;
  margin: auto;
  /* border: 1px solid #3329ff; */
}
.title:after {
  content: '';
  background-color: #3329ff;
  display: block;
  bottom: -1rem;
  height: 0.3rem;
  width: 3rem;
  position: absolute;
  left: 0;
}
.sub_title {
  font-size: 1.5rem;
  display: block;
  font-family: Nexa-Light;
  position: relative;
  width: max-content;
  margin: auto;
  margin-top: 7rem;
  max-width: 50rem;
  /* border: 1px solid #3329ff; */
}
.tools_wrapper {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.tools_wrapper .game {
  background-image: linear-gradient(170deg, #3329ff, #060895);
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 5rem;
  display: grid;
  align-items: center;
  justify-content: center;
}


.tools_wrapper img{
  display: block;
  max-height: 13rem;
  max-width: 13rem;
  transition: all .25s cubic-bezier(.25,.46,.45,.94);
}
.tools_wrapper a:hover img {
  transform: scale(1.05);
}

.tools_wrapper .link {
  display: block;
  text-align: center;
  margin-top: 2rem;
  color: #060895;
}
.tools_wrapper .link:hover {
  text-decoration: underline;
}

