.wrapper {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 0 5rem;
  max-width: 70rem;
  margin: auto;
  /* border: 1px solid aqua; */
  /* background-color: #f4f4f4; */
}

.image_wrapper {
  /* border: 1px solid aqua; */
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: grid;
  align-items: center;
}
.image_wrapper img {
  height: 24rem;
  position: absolute;
}
.image_wrapper img:first-child {
  animation: icon-left 5s infinite;
  left: 18%;
  transform: translateY(12%);
  transition: opacity .4s cubic-bezier(.25,.46,.45,.94), left .3s cubic-bezier(.25,.46,.45,.94);
}
.image_wrapper img.a_left {
  left: 15%;
  opacity: 0;
}
.image_wrapper img:last-child {
  opacity: 1;
  left: 25%;
  transform: translateY(-12%);
  animation: icon-right 5s infinite;
  transition: opacity .4s cubic-bezier(.25,.46,.45,.94), left .3s cubic-bezier(.25,.46,.45,.94);
}
.image_wrapper img.a_right {
  left: 28%;
  opacity: 0;
}

.content {
  /* border: 1px solid aqua; */
  position: absolute;
  top: 50%;
  left: 45%;
  margin-right: 5rem;
  transform: translateY(-50%);
  font-size: 1.4rem;
  display: grid;
  gap: 1rem;
}

.content p {
  font-family: Nexa-Light;
}

/* ANIMATION */

@keyframes icon-left {
  0% {
    transform: translateY(14%);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(14%);
  }
}

@keyframes icon-right {
  0% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(-14%);
  }
  100% {
    transform: translateY(-10%);
  }
}

@media (max-width: 1040px) {
  .wrapper {
    padding: 0 2rem;
  }
  .content {
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 960px) {
  .image_wrapper img:first-child {
    left: 10%;
  }
  .image_wrapper img.a_left {
    left: 7%;
  }
  .image_wrapper img:last-child {
    left: 18%;
  }
  .image_wrapper img.a_right {
    left: 21%;
  }
  .content {
    top: 50%;
    left: 50%;
    width: 57%;
    transform: translateY(-50%) translateX(-20%);
    font-size: 1.35rem;
  }
}

@media only screen and (max-width: 800px) {
  .image_wrapper img:first-child {
    left: 2rem;
  }
  .image_wrapper img.a_left {
    left: 1rem;
  }
  .image_wrapper img:last-child {
    left: 6rem;
  }
  .image_wrapper img.a_right {
    left: 7rem;
  }
  .content {
    top: 50%;
    left: 50%;
    width: max-content;
    margin-left: 15%;
    transform: translateY(-50%) translateX(-50%);
    font-size: 1.1rem;
    justify-self: flex-end;
  }
}
