.wrapper {
  padding: 5rem;
  /* padding-bottom: 0; */
  max-width: 70rem;
  margin: auto;
}
.title {
  font-size: 2.5rem;
  text-transform: uppercase;
  position: relative;
  width: max-content;
  margin: auto;
  /* border: 1px solid #3329ff; */
}
.title:after {
  content: '';
  background-color: #3329ff;
  display: block;
  bottom: -1rem;
  height: 0.3rem;
  width: 3rem;
  position: absolute;
  left: 0;
}
.sub_title {
  font-size: 1.5rem;
  display: block;
  font-family: Nexa-Light;
  position: relative;
  width: 100%;
  margin: auto;
  margin-top: 7rem;
  max-width: 50rem;
  /* border: 1px solid #3329ff; */
}
.tools_wrapper {
  margin-top: 5rem;
  display: grid;
  gap: 5rem;
  position: relative;
  min-height: 30rem;
  overflow: hidden;
}
.tools_wrapper .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
}
.tools_wrapper .row:nth-child(3) {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8rem;
}
.tools_wrapper .row:nth-child(4) {
  align-items: flex-end;
  height: max-content;
}
.tools_wrapper .row img {
  width: 100%;
}

.circle {
  position: absolute;
  content: '';
  display: block;
  height: 200%;
  width: 200%;
  border-radius: 1000% 50% 50% 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0 0 10rem 10rem #ffffff;
  transition: all 2s cubic-bezier(.25,.46,.45,.94);
}

.tools_wrapper.active .circle {
  transform: translate(50%, 0%);
}

@media only screen and (max-width: 960px) {
  .tools_wrapper .row {
    gap: 5%;
  }
  .tools_wrapper .row:nth-child(3) {
    gap: 7.5%;
  }
  .tools_wrapper {
    gap: 5%;
  }
}

@media only screen and (max-width: 500px) {
  .wrapper {
    padding: 2rem;
  }
}